<!DOCTYPE html>
<html>
  <head>
    <title>Crypto Wallet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>      
      <div style='display: block; float: left; width:20%'><a href='/' ><%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDAWT2U5O8J39bJcZrCZQR03gny3NFBq8oqsl1aAme3gcHN91tf5Z3A17toyH0itZV5gk&usqp=CAU', width:100  %></a></div>
      <h1 style='display: block; float: left; width:80%'>Header</h1>
      <p><strong>Date: </strong><%= date_to_br %></p>
    </header>
    <hr style='display: block; float: left; width:100%' />
    <%= yield %>
    <hr />
    <footer>
        <p>Environment: <strong><%=Rails.env%></strong></p>
    </footer>    
  </body>
</html>
